
<div class="container">

<h1 class="main-tag">Admin Dashboard</h1>

  <div class="row">
    <div class="col-sm-12">
      <app-total-cases></app-total-cases>
      
    </div>
  </div>
  <div class="row spacious">
    <div class="col-sm-12">
      <app-country-dropdown></app-country-dropdown>
    </div>

  </div>
 


  <div  class="row spacious map">
    <div class="col-sm-12">
      <app-map></app-map>
    </div>

  
  </div>




  <div class="row spacious" #target>
    
    <app-data-charts style="width: 100%;"></app-data-charts>

  </div>









</div>
